/*设置字体大小*/
body {
    font-family: 'SimHei';
}
.logo {
    width: 100%;
    text-align: center;
    margin-top: 3em;;
}
.width-full{
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle;
    max-width:100%;
}
/*设置按钮样式*/
.ui-btn-left{
    border:0px solid transparent !important;
    boder-radiius:0px !important;
}

.ui-footer .ui-grid-b div{
    text-align: center;
}
.ui-listview .ui-li-has-thumb > .ui-btn >img:first-child{
    top:1.1em !important;
    left:.5em !important;
    height:80px;
}
.bg{
    background: green !important;
    color:white !important;
    padding-top:.4em !important;
    padding-bottom:.4em !important;
    font-size: .5em !important;
    font-weight:400 !important;
}
.float-right{
    float:right;
}
.image-responsive{
    max-width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ui-bar{
    padding: 0px;
}
.head{
    width:100%;
    text-align: center;
}
.ui-table td {
    vertical-align: inherit;
}
#span{
    vertical-align: middle;
}
#img {
  margin-top: .3em;
}
/*点击主菜单中小图弹出大图*/
div.full-screen{
    position: fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background-color: rgba(0,0,0,.5);
    z-index: 9998;
}
.bg-img{
    position: fixed;
    left:5px;
    bottom:5px;
    right:5px;
    top:5px;
    z-index: 9999;
    vertical-align: middle;
}
.bg-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hide{
    display: none;
}